<nav class="navbar navbar-expand-md navbar-dark navbar-custom">
	<a class="navbar-brand" href="#">RafaLingo</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://rafaellaurindo.com.br" target="_blank">Autor</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/rafaelfilholm/curso-typescript-angular" target="_blank">Repositório</a>
			</li>
		</ul>
	</div>
</nav>