<div class="container">
	<div class="jumbotron">
		<!-- Progresso e Tentativas -->
		<div class="row">
			<div class="col-sm-6">
				<app-progress></app-progress>
			</div>
			<div class="col-sm-6">
				<div class="float-right">
					<app-attempts></app-attempts>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col">
				<h6> {{ instruction }} </h6>
				<p><strong> {{ phrases[0].phraseEng }} </strong></p>

				<div class="form-group">
					<textarea class="form-control" rows="3"></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<button class="btn btn-primary float-right">Verificar</button>
			</div>
		</div>
	</div>
</div>
